.list {
  display: grid;
  grid-template-columns: 1fr;
  border-top: 0.5px solid var(--color-primary);
  border-left: 0.5px solid var(--color-primary);
  margin-top: 4.8rem;
}

.list-row {
  width: 100vw;
  display: flex;
  min-width: max-content;
  border-top: 0.5px solid var(--color-primary);
  border-left: 0.5px solid var(--color-primary);
}

@media (min-width: 680px) {
  .list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 980px) {
  .list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1290px) {
  .list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1580px) {
  .list {
    grid-template-columns: repeat(5, 1fr);
  }
  .list-row {
    width: 84vw;
  }
}
