.input-wrapper {
  position: relative;
}
.input {
  width: 100%;
  border: none;
  border-bottom: 0.5px solid var(--color-primary);
  padding-bottom: 0.8rem;
}
.input::placeholder {
  color: var(--color-quaternary);
}
.clear-button {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.clear-button svg {
  transform: scale(0.9);
}
