.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 170rem;
  width: 100%;
  margin: 0 auto;
  padding: 2.8rem 1.6rem;
}
.logo {
  width: 100%;
  max-width: 7.4rem;
  padding: 0 !important;
}

.count {
  margin-left: 0.6rem;
  margin-top: 0.35rem;
  font-size: 1.6rem;
  padding: 0 !important;
}

@media (min-width: 834px) {
  .header {
    padding: 2.8rem 4rem;
  }
}
